In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from selenium import webdriver
from getpass import getpass

# Barcelona

In [4]:
#we get the url we want to scrape
url='https://www.glassdoor.es/Sueldos/barcelona-data-analyst-sueldo-SRCH_IL.0,9_IM1015_KO10,22.htm?countryRedirect=true'
#username = input('Enter your username: ')
#password = getpass('Enter your password: ')

In [5]:
#we get the web driver for our navigator
driver = webdriver.Chrome(r'C:\Users\Usuario\Desktop\Project_scrapper\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [22]:
driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[1]/div/div[2]/p[3]').text
//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[1]/div/div[2]/p[3]

'38.054 €/año'

In [8]:
job_titles = []
companies = []
salaries = []
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titles.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companies.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salaries.append(salary)

In [9]:
print(job_titles)
print(companies)
print(salaries)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Por mes', 'Data Analyst']
['Criteo', 'Ubiqum Code Academy', 'everis', 'Glovo', 'Socialpoint', 'Adevinta', 'SegurCaixa Adeslas', 'Innova-Tsn', 'Kernel Analytics', 'Accenture', 'Accenture', 'Altran Group', 'eDreams ODIGEO', 'HP Inc.', 'HP Inc.', 'Minsait', 'Sopra Steria', 'Criteo', 'Criteo', 'SAP']
['38.054 €/año', '46.937 €/año', '27.576 €/año', '28.880 €/año', '31.451 €/año', '38.725 €/año', '25.198 €/año', '23.852 €/año', '30.778 €/año', '1.098 €/mes', '26.965 €/año', '28.129 €/año', '24.997 €/año', '27.948 €/año', '14.243 €/año', '25.179 €/año', '29.759 €/año', '996 €/mes', '2.690 €/mes', '30.848 €/año']

In [10]:
second_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[3]/a')
second_page.click()

In [11]:
accept_cookies = driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
accept_cookies.click()

In [12]:
login = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[2]/div/a')
login.click()

In [15]:
username_textbox = driver.find_element_by_xpath('//*[@id="userEmail"]')
password_textbox = driver.find_element_by_xpath('//*[@id="userPassword"]')

In [17]:
username = 'felipeyuji.deguchi@alumni.esade.edu'
password = getpass('Enter your password: ')

Enter your password: ········

In [18]:
username_textbox.send_keys(username)
password_textbox.send_keys(password)

In [19]:
login_button = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[3]/form/div[3]/div[1]/button')
login_button.click()

In [60]:
 driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[1]/div/div[2]/p[1]/a').text
    //*[@id="SalariesByCompany"]/div[1]/div[23]/div/div[1]/div/div[2]/p[1]/a

'Data Analyst'

In [61]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titles.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companies.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salaries.append(salary)

In [62]:
print(job_titles)
print(companies)
print(salaries)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por hora', 'Data Analyst']
['Criteo', 'Ubiqum Code Academy', 'everis', 'Glovo', 'Socialpoint', 'Adevinta', 'SegurCaixa Adeslas', 'Innova-Tsn', 'Kernel Analytics', 'Accenture', 'Accenture', 'Altran Group', 'eDreams ODIGEO', 'HP Inc.', 'HP Inc.', 'Minsait', 'Sopra Steria', 'Criteo', 'Criteo', 'SAP', 'Vistaprint', 'Schneider Electric', 'Mango', 'Dow Jones', 'Sogeti', 'PUIG', 'Xerox', 'Cargill', 'Wallapop', 'Techedge', 'Boehringer Ingelheim', 'Ecolab', 'Splendia', 'Rebold', 'ClearPeaks', 'Kantar Worldpanel', 'Primagas', 'La Redoute', 'Tekman Books', 'CYBERCLICK MARKETING']
['38.054 €/año', '46.937 €/año', '27.576 €/año', '28.880 €/año', '31.451 €/año', '38.725 €/año', '25.198 €/año', '23.852 €/año', '30.778 €/año', '1.098 €/mes', '26.965 €/año', '28.129 €/año', '24.997 €/año', '27.948 €/año', '14.243 €/año', '25.179 €/año', '29.759 €/año', '996 €/mes', '2.690 €/mes', '30.848 €/año', '37.285 €/año', '24.488 €/año', '24.976 €/año', '23.698 €/año', '27.695 €/año', '44.466 €/año', '19.505 €/año', '51.684 €/año', '38.000 €/año', '28.219 €/año', '40.514 €/año', '35.573 €/año', '600 €/mes', '18.847 €/año', '26.997 €/año', '23.550 €/año', '46.000 €/año', '48.396 €/año', '6 €/h', '29.886 €/año']

In [63]:
third_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[4]/a')
third_page.click()

In [66]:
for i in range(4,20):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titles.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companies.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salaries.append(salary)

In [67]:
print(job_titles)
print(companies)
print(salaries)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario por hora', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst', 'Business Data Analyst', 'Business Data Analyst', 'Junior Data Analyst', 'Junior Data Analyst', 'Marketing Data Analyst', 'Big Data Analyst', 'Big Data Analyst']
['Criteo', 'Ubiqum Code Academy', 'everis', 'Glovo', 'Socialpoint', 'Adevinta', 'SegurCaixa Adeslas', 'Innova-Tsn', 'Kernel Analytics', 'Accenture', 'Accenture', 'Altran Group', 'eDreams ODIGEO', 'HP Inc.', 'HP Inc.', 'Minsait', 'Sopra Steria', 'Criteo', 'Criteo', 'SAP', 'Vistaprint', 'Schneider Electric', 'Mango', 'Dow Jones', 'Sogeti', 'PUIG', 'Xerox', 'Cargill', 'Wallapop', 'Techedge', 'Boehringer Ingelheim', 'Ecolab', 'Splendia', 'Rebold', 'ClearPeaks', 'Kantar Worldpanel', 'Primagas', 'La Redoute', 'Tekman Books', 'CYBERCLICK MARKETING', 'Zeptolab', '500 Markets', 'Light Stone', 'Higuests', 'En GantaBI', 'Criteo', 'Vistaprint', 'Bayer', 'Norwegian Air Shuttle', 'SDG Group', 'Autodesk', 'Glovo', 'FocusEconomics', 'Adevinta', 'Minsait', 'Nest']
['38.054 €/año', '46.937 €/año', '27.576 €/año', '28.880 €/año', '31.451 €/año', '38.725 €/año', '25.198 €/año', '23.852 €/año', '30.778 €/año', '1.098 €/mes', '26.965 €/año', '28.129 €/año', '24.997 €/año', '27.948 €/año', '14.243 €/año', '25.179 €/año', '29.759 €/año', '996 €/mes', '2.690 €/mes', '30.848 €/año', '37.285 €/año', '24.488 €/año', '24.976 €/año', '23.698 €/año', '27.695 €/año', '44.466 €/año', '19.505 €/año', '51.684 €/año', '38.000 €/año', '28.219 €/año', '40.514 €/año', '35.573 €/año', '600 €/mes', '18.847 €/año', '26.997 €/año', '23.550 €/año', '46.000 €/año', '48.396 €/año', '6 €/h', '29.886 €/año', '35.738 €/año', '1.019 €/mes', '897 €/mes', '47.320 €/año', '47.118 €/año', '36.860 €/año', '51.424 €/año', '27.053 €/año', '32.000 €/año', '24.574 €/año', '33.937 €/año', '25.976 €/año', '11.884 €/año', '45.499 €/año', '24.070 €/año', '49.371 €/año']

# Dublín

In [95]:
url='https://www.glassdoor.es/Sueldos/dubl%C3%ADn-data-analyst-sueldo-SRCH_IL.0,6_IM1052_KO7,19.htm'

In [96]:
driver = webdriver.Chrome(r'C:\Users\Usuario\Desktop\Project_scrapper\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [97]:
driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[1]/div/div[2]/p[1]/a').text

'Data Analyst'

In [76]:
job_titlesdb = []
companiesdb = []
salariesdb = []
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesdb.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesdb.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesdb.append(salary)

In [79]:
print(job_titlesdb)
print(companiesdb)
print(salariesdb)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst']
['KPMG', 'Accenture', 'Aon', 'Google', 'Allied Irish Banks', 'EY', 'Bank of Ireland', 'Paddy Power Betfair', 'Groupon', 'Intercontinental Exchange', 'Fidelity Investments', 'Infosys BPM', 'ACIA', 'Clavis Insight', 'Interactive Data', 'Google', 'Allied Irish Banks', 'EY', 'KPMG', 'Facebook']
['26.026 €/año', '28.414 €/año', '41.473 €/año', '35.270 €/año', '45.723 €/año', '34.384 €/año', '32.655 €/año', '34.659 €/año', '61.697 €/año', '26.156 €/año', '37.792 €/año', '24.404 €/año', '35.965 €/año', '31.969 €/año', '24.410 €/año', '23.693 €/año', '8.022 €/mes', '18.982 £/año', '26.026 €/año', '63.188 €/año']

In [100]:
second_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[3]/a')
second_page.click()

In [101]:
accept_cookies = driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
accept_cookies.click()

In [102]:
login = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[2]/div/a')
login.click()

In [103]:
username_textbox = driver.find_element_by_xpath('//*[@id="userEmail"]')
password_textbox = driver.find_element_by_xpath('//*[@id="userPassword"]')

In [84]:
username = 'felipeyuji.deguchi@alumni.esade.edu'
password = getpass('Enter your password: ')

Enter your password: ········

In [104]:
username_textbox.send_keys(username)
password_textbox.send_keys(password)

In [105]:
login_button = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[3]/form/div[3]/div[1]/button')
login_button.click()

In [87]:
driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[1]/div/div[2]/p[1]/a').text

'Data Analyst'

In [88]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesdb.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesdb.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesdb.append(salary)

In [89]:
print(job_titlesdb)
print(companiesdb)
print(salariesdb)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario por mes']
['KPMG', 'Accenture', 'Aon', 'Google', 'Allied Irish Banks', 'EY', 'Bank of Ireland', 'Paddy Power Betfair', 'Groupon', 'Intercontinental Exchange', 'Fidelity Investments', 'Infosys BPM', 'ACIA', 'Clavis Insight', 'Interactive Data', 'Google', 'Allied Irish Banks', 'EY', 'KPMG', 'Facebook', 'permanent tsb', 'Deutsche Bank', 'Bank of America', 'Three Ireland', 'ESBI', 'Mylan Inc', 'Central Bank of Ireland', 'Allied Irish Bank (GB)', 'SSE', 'Pocket Kings', 'RSA Group', 'Clavis Insight', 'Accenture', 'IBM', 'Allied Irish Banks', 'Microsoft', 'EY', 'Deloitte', 'Deloitte', 'Bank of Ireland']
['26.026 €/año', '28.414 €/año', '41.473 €/año', '35.270 €/año', '45.723 €/año', '34.384 €/año', '32.655 €/año', '34.659 €/año', '61.697 €/año', '26.156 €/año', '37.792 €/año', '24.404 €/año', '35.965 €/año', '31.969 €/año', '24.410 €/año', '23.693 €/año', '8.022 €/mes', '18.982 £/año', '26.026 €/año', '63.188 €/año', '41.302 €/año', '60.568 €/año', '42.365 €/año', '59.082 €/año', '44.078 €/año', '40.155 €/año', '47.622 €/año', '28.720 €/año', '49.636 €/año', '33.842 €/año', '47.689 €/año', '37.536 €/año', '2.002 €/mes', '30.300 €/año', '5.994 €/mes', '45.000 €/año', '16.934 €/año', '19.709 €/año', '46.074 €/año', '1.822 €/mes']

In [106]:
third_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[4]/a')
third_page.click()

In [91]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesdb.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesdb.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesdb.append(salary)

In [92]:
print(job_titlesdb)
print(companiesdb)
print(salariesdb)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Por hora']
['KPMG', 'Accenture', 'Aon', 'Google', 'Allied Irish Banks', 'EY', 'Bank of Ireland', 'Paddy Power Betfair', 'Groupon', 'Intercontinental Exchange', 'Fidelity Investments', 'Infosys BPM', 'ACIA', 'Clavis Insight', 'Interactive Data', 'Google', 'Allied Irish Banks', 'EY', 'KPMG', 'Facebook', 'permanent tsb', 'Deutsche Bank', 'Bank of America', 'Three Ireland', 'ESBI', 'Mylan Inc', 'Central Bank of Ireland', 'Allied Irish Bank (GB)', 'SSE', 'Pocket Kings', 'RSA Group', 'Clavis Insight', 'Accenture', 'IBM', 'Allied Irish Banks', 'Microsoft', 'EY', 'Deloitte', 'Deloitte', 'Bank of Ireland', 'Salesforce', 'PwC', 'PwC', 'CPL Resources', 'Arvato', 'University College Dublin', 'eircom', 'eircom', 'eircom', 'Health Service Executive', 'Health Service Executive', 'Version 1', 'Pfizer', 'Airbnb', 'Smartbox Worldwide', 'Kerry', 'CarTrawler', 'Ryanair', 'Deutsche Bank', 'HCL Technologies']
['26.026 €/año', '28.414 €/año', '41.473 €/año', '35.270 €/año', '45.723 €/año', '34.384 €/año', '32.655 €/año', '34.659 €/año', '61.697 €/año', '26.156 €/año', '37.792 €/año', '24.404 €/año', '35.965 €/año', '31.969 €/año', '24.410 €/año', '23.693 €/año', '8.022 €/mes', '18.982 £/año', '26.026 €/año', '63.188 €/año', '41.302 €/año', '60.568 €/año', '42.365 €/año', '59.082 €/año', '44.078 €/año', '40.155 €/año', '47.622 €/año', '28.720 €/año', '49.636 €/año', '33.842 €/año', '47.689 €/año', '37.536 €/año', '2.002 €/mes', '30.300 €/año', '5.994 €/mes', '45.000 €/año', '16.934 €/año', '19.709 €/año', '46.074 €/año', '1.822 €/mes', '39.631 €/año', '23.906 €/año', '18.982 €/año', '11 €/h', '42.335 €/año', '1.401 €/mes', '37.482 €/año', '43.828 €/año', '30.179 €/año', '41.960 €/año', '35.140 €/año', '30.698 €/año', '38.125 €/año', '2.278 €/mes', '30.000 €/año', '2.463 €/mes', '40.115 €/año', '28.084 €/año', '22.066 €/año', '11 €/h']

In [108]:
third_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[4]/a')
third_page.click()

In [109]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesdb.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesdb.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesdb.append(salary)

In [110]:
print(job_titlesdb)
print(companiesdb)
print(salariesdb)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Por hora', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Por hora']
['KPMG', 'Accenture', 'Aon', 'Google', 'Allied Irish Banks', 'EY', 'Bank of Ireland', 'Paddy Power Betfair', 'Groupon', 'Intercontinental Exchange', 'Fidelity Investments', 'Infosys BPM', 'ACIA', 'Clavis Insight', 'Interactive Data', 'Google', 'Allied Irish Banks', 'EY', 'KPMG', 'Facebook', 'permanent tsb', 'Deutsche Bank', 'Bank of America', 'Three Ireland', 'ESBI', 'Mylan Inc', 'Central Bank of Ireland', 'Allied Irish Bank (GB)', 'SSE', 'Pocket Kings', 'RSA Group', 'Clavis Insight', 'Accenture', 'IBM', 'Allied Irish Banks', 'Microsoft', 'EY', 'Deloitte', 'Deloitte', 'Bank of Ireland', 'Salesforce', 'PwC', 'PwC', 'CPL Resources', 'Arvato', 'University College Dublin', 'eircom', 'eircom', 'eircom', 'Health Service Executive', 'Health Service Executive', 'Version 1', 'Pfizer', 'Airbnb', 'Smartbox Worldwide', 'Kerry', 'CarTrawler', 'Ryanair', 'Deutsche Bank', 'HCL Technologies', 'Salesforce', 'PwC', 'PwC', 'CPL Resources', 'Arvato', 'University College Dublin', 'eircom', 'eircom', 'eircom', 'Health Service Executive', 'Health Service Executive', 'Version 1', 'Pfizer', 'Airbnb', 'Smartbox Worldwide', 'Kerry', 'CarTrawler', 'Ryanair', 'Deutsche Bank', 'HCL Technologies']
['26.026 €/año', '28.414 €/año', '41.473 €/año', '35.270 €/año', '45.723 €/año', '34.384 €/año', '32.655 €/año', '34.659 €/año', '61.697 €/año', '26.156 €/año', '37.792 €/año', '24.404 €/año', '35.965 €/año', '31.969 €/año', '24.410 €/año', '23.693 €/año', '8.022 €/mes', '18.982 £/año', '26.026 €/año', '63.188 €/año', '41.302 €/año', '60.568 €/año', '42.365 €/año', '59.082 €/año', '44.078 €/año', '40.155 €/año', '47.622 €/año', '28.720 €/año', '49.636 €/año', '33.842 €/año', '47.689 €/año', '37.536 €/año', '2.002 €/mes', '30.300 €/año', '5.994 €/mes', '45.000 €/año', '16.934 €/año', '19.709 €/año', '46.074 €/año', '1.822 €/mes', '39.631 €/año', '23.906 €/año', '18.982 €/año', '11 €/h', '42.335 €/año', '1.401 €/mes', '37.482 €/año', '43.828 €/año', '30.179 €/año', '41.960 €/año', '35.140 €/año', '30.698 €/año', '38.125 €/año', '2.278 €/mes', '30.000 €/año', '2.463 €/mes', '40.115 €/año', '28.084 €/año', '22.066 €/año', '11 €/h', '39.631 €/año', '23.906 €/año', '18.982 €/año', '11 €/h', '42.335 €/año', '1.401 €/mes', '37.482 €/año', '43.828 €/año', '30.179 €/año', '41.960 €/año', '35.140 €/año', '30.698 €/año', '38.125 €/año', '2.278 €/mes', '30.000 €/año', '2.463 €/mes', '40.115 €/año', '28.084 €/año', '22.066 €/año', '11 €/h']

In [111]:
fourth_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[5]/a')
fourth_page.click()

In [112]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesdb.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesdb.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesdb.append(salary)

In [113]:
print(job_titlesdb)
print(companiesdb)
print(salariesdb)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Por hora', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Por hora', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por hora', 'Data Analyst - Proveedor de servicios']
['KPMG', 'Accenture', 'Aon', 'Google', 'Allied Irish Banks', 'EY', 'Bank of Ireland', 'Paddy Power Betfair', 'Groupon', 'Intercontinental Exchange', 'Fidelity Investments', 'Infosys BPM', 'ACIA', 'Clavis Insight', 'Interactive Data', 'Google', 'Allied Irish Banks', 'EY', 'KPMG', 'Facebook', 'permanent tsb', 'Deutsche Bank', 'Bank of America', 'Three Ireland', 'ESBI', 'Mylan Inc', 'Central Bank of Ireland', 'Allied Irish Bank (GB)', 'SSE', 'Pocket Kings', 'RSA Group', 'Clavis Insight', 'Accenture', 'IBM', 'Allied Irish Banks', 'Microsoft', 'EY', 'Deloitte', 'Deloitte', 'Bank of Ireland', 'Salesforce', 'PwC', 'PwC', 'CPL Resources', 'Arvato', 'University College Dublin', 'eircom', 'eircom', 'eircom', 'Health Service Executive', 'Health Service Executive', 'Version 1', 'Pfizer', 'Airbnb', 'Smartbox Worldwide', 'Kerry', 'CarTrawler', 'Ryanair', 'Deutsche Bank', 'HCL Technologies', 'Salesforce', 'PwC', 'PwC', 'CPL Resources', 'Arvato', 'University College Dublin', 'eircom', 'eircom', 'eircom', 'Health Service Executive', 'Health Service Executive', 'Version 1', 'Pfizer', 'Airbnb', 'Smartbox Worldwide', 'Kerry', 'CarTrawler', 'Ryanair', 'Deutsche Bank', 'HCL Technologies', 'HCL Technologies', 'Bank of America', 'Susquehanna International Group (SIG)', 'Mylan Inc', 'Aviva', 'Central Bank of Ireland', 'Yahoo', 'Allergan', 'Davy', 'Grant Thornton', 'Davy', 'Royal College of Surgeons in Ireland', 'GameStop', 'Aon', 'Sogeti', 'Telefónica', 'J.P. Morgan', 'The AA', 'CBRE', 'BNP Paribas']
['26.026 €/año', '28.414 €/año', '41.473 €/año', '35.270 €/año', '45.723 €/año', '34.384 €/año', '32.655 €/año', '34.659 €/año', '61.697 €/año', '26.156 €/año', '37.792 €/año', '24.404 €/año', '35.965 €/año', '31.969 €/año', '24.410 €/año', '23.693 €/año', '8.022 €/mes', '18.982 £/año', '26.026 €/año', '63.188 €/año', '41.302 €/año', '60.568 €/año', '42.365 €/año', '59.082 €/año', '44.078 €/año', '40.155 €/año', '47.622 €/año', '28.720 €/año', '49.636 €/año', '33.842 €/año', '47.689 €/año', '37.536 €/año', '2.002 €/mes', '30.300 €/año', '5.994 €/mes', '45.000 €/año', '16.934 €/año', '19.709 €/año', '46.074 €/año', '1.822 €/mes', '39.631 €/año', '23.906 €/año', '18.982 €/año', '11 €/h', '42.335 €/año', '1.401 €/mes', '37.482 €/año', '43.828 €/año', '30.179 €/año', '41.960 €/año', '35.140 €/año', '30.698 €/año', '38.125 €/año', '2.278 €/mes', '30.000 €/año', '2.463 €/mes', '40.115 €/año', '28.084 €/año', '22.066 €/año', '11 €/h', '39.631 €/año', '23.906 €/año', '18.982 €/año', '11 €/h', '42.335 €/año', '1.401 €/mes', '37.482 €/año', '43.828 €/año', '30.179 €/año', '41.960 €/año', '35.140 €/año', '30.698 €/año', '38.125 €/año', '2.278 €/mes', '30.000 €/año', '2.463 €/mes', '40.115 €/año', '28.084 €/año', '22.066 €/año', '11 €/h', '27.434 €/año', '30.090 €/año', '51.493 €/año', '53.102 €/año', '24.476 €/año', '55 €/h', '56.622 €/año', '31.643 €/año', '36.639 €/año', '17.552 €/año', '29 €/h', '975 €/mes', '30.120 €/año', '32.191 €/año', '25.000 €/año', '45.269 €/año', '34.591 €/año', '31.595 €/año', '15 £/h', '27.754 €/año']

In [115]:
fifth_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[5]/a')
fifth_page.click()

In [116]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesdb.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesdb.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesdb.append(salary)

In [117]:
print(job_titlesdb)
print(companiesdb)
print(salariesdb)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Por hora', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Becario por mes', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst - Por hora', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Becario', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Becario por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Becario', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst - Por mes', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']
['KPMG', 'Accenture', 'Aon', 'Google', 'Allied Irish Banks', 'EY', 'Bank of Ireland', 'Paddy Power Betfair', 'Groupon', 'Intercontinental Exchange', 'Fidelity Investments', 'Infosys BPM', 'ACIA', 'Clavis Insight', 'Interactive Data', 'Google', 'Allied Irish Banks', 'EY', 'KPMG', 'Facebook', 'permanent tsb', 'Deutsche Bank', 'Bank of America', 'Three Ireland', 'ESBI', 'Mylan Inc', 'Central Bank of Ireland', 'Allied Irish Bank (GB)', 'SSE', 'Pocket Kings', 'RSA Group', 'Clavis Insight', 'Accenture', 'IBM', 'Allied Irish Banks', 'Microsoft', 'EY', 'Deloitte', 'Deloitte', 'Bank of Ireland', 'Salesforce', 'PwC', 'PwC', 'CPL Resources', 'Arvato', 'University College Dublin', 'eircom', 'eircom', 'eircom', 'Health Service Executive', 'Health Service Executive', 'Version 1', 'Pfizer', 'Airbnb', 'Smartbox Worldwide', 'Kerry', 'CarTrawler', 'Ryanair', 'Deutsche Bank', 'HCL Technologies', 'Salesforce', 'PwC', 'PwC', 'CPL Resources', 'Arvato', 'University College Dublin', 'eircom', 'eircom', 'eircom', 'Health Service Executive', 'Health Service Executive', 'Version 1', 'Pfizer', 'Airbnb', 'Smartbox Worldwide', 'Kerry', 'CarTrawler', 'Ryanair', 'Deutsche Bank', 'HCL Technologies', 'HCL Technologies', 'Bank of America', 'Susquehanna International Group (SIG)', 'Mylan Inc', 'Aviva', 'Central Bank of Ireland', 'Yahoo', 'Allergan', 'Davy', 'Grant Thornton', 'Davy', 'Royal College of Surgeons in Ireland', 'GameStop', 'Aon', 'Sogeti', 'Telefónica', 'J.P. Morgan', 'The AA', 'CBRE', 'BNP Paribas', 'Burger King', 'HCL', 'Trane Technologies', 'G4S', 'The Coca-Cola Company', 'Kerry Foods', 'Electric Ireland', 'Electric Ireland', 'Moneymate', 'Analytic Partners', 'ACIA', 'Rockall Technologies', 'Mediolanum', 'Enel X', 'Wiline', 'Skylads', 'Marsh & McLennan Companies', 'Geneva Trading', 'Edge by Ascential', 'ResMed']
['26.026 €/año', '28.414 €/año', '41.473 €/año', '35.270 €/año', '45.723 €/año', '34.384 €/año', '32.655 €/año', '34.659 €/año', '61.697 €/año', '26.156 €/año', '37.792 €/año', '24.404 €/año', '35.965 €/año', '31.969 €/año', '24.410 €/año', '23.693 €/año', '8.022 €/mes', '18.982 £/año', '26.026 €/año', '63.188 €/año', '41.302 €/año', '60.568 €/año', '42.365 €/año', '59.082 €/año', '44.078 €/año', '40.155 €/año', '47.622 €/año', '28.720 €/año', '49.636 €/año', '33.842 €/año', '47.689 €/año', '37.536 €/año', '2.002 €/mes', '30.300 €/año', '5.994 €/mes', '45.000 €/año', '16.934 €/año', '19.709 €/año', '46.074 €/año', '1.822 €/mes', '39.631 €/año', '23.906 €/año', '18.982 €/año', '11 €/h', '42.335 €/año', '1.401 €/mes', '37.482 €/año', '43.828 €/año', '30.179 €/año', '41.960 €/año', '35.140 €/año', '30.698 €/año', '38.125 €/año', '2.278 €/mes', '30.000 €/año', '2.463 €/mes', '40.115 €/año', '28.084 €/año', '22.066 €/año', '11 €/h', '39.631 €/año', '23.906 €/año', '18.982 €/año', '11 €/h', '42.335 €/año', '1.401 €/mes', '37.482 €/año', '43.828 €/año', '30.179 €/año', '41.960 €/año', '35.140 €/año', '30.698 €/año', '38.125 €/año', '2.278 €/mes', '30.000 €/año', '2.463 €/mes', '40.115 €/año', '28.084 €/año', '22.066 €/año', '11 €/h', '27.434 €/año', '30.090 €/año', '51.493 €/año', '53.102 €/año', '24.476 €/año', '55 €/h', '56.622 €/año', '31.643 €/año', '36.639 €/año', '17.552 €/año', '29 €/h', '975 €/mes', '30.120 €/año', '32.191 €/año', '25.000 €/año', '45.269 €/año', '34.591 €/año', '31.595 €/año', '15 £/h', '27.754 €/año', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

# London

In [118]:
url='https://www.glassdoor.es/Sueldos/londres-data-analyst-sueldo-SRCH_IL.0,7_IM1035_KO8,20.htm'

In [119]:
driver = webdriver.Chrome(r'C:\Users\Usuario\Desktop\Project_scrapper\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [121]:
driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[1]/div/div[2]/p[1]/a').text

'Data Analyst'

In [122]:
job_titlesldn = []
companiesldn = []
salariesldn = []
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesldn.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesldn.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesldn.append(salary)

In [123]:
print(job_titlesldn)
print(companiesldn)
print(salariesldn)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']
['Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays']
['44.221 £/año', '33.879 £/año', '31.671 £/año', '46.467 £/año', '26.106 £/año', '33.096 £/año', '38.444 £/año', '40.955 £/año', '23.689 £/año', '41.838 £/año', '39.576 £/año', '27.392 £/año', '34.048 £/año', '35.550 £/año', '29.569 £/año', '57.384 £/año', '26.036 £/año', '24.445 £/año', '55.000 £/año', '47.031 £/año']

In [124]:
second_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[3]/a')
second_page.click()

In [125]:
accept_cookies = driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
accept_cookies.click()

In [126]:
login = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[2]/div/a')
login.click()

In [127]:
username_textbox = driver.find_element_by_xpath('//*[@id="userEmail"]')
password_textbox = driver.find_element_by_xpath('//*[@id="userPassword"]')

In [128]:
username_textbox.send_keys(username)
password_textbox.send_keys(password)

In [129]:
login_button = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[3]/form/div[3]/div[1]/button')
login_button.click()

In [130]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesldn.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesldn.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesldn.append(salary)

In [131]:
print(job_titlesldn)
print(companiesldn)
print(salariesldn)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']
['Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays', 'Accenture', 'Marks & Spencer', 'HSBC Holdings', 'HSBC Holdings', 'Capita', 'Vodafone', 'Imperial College London', 'UBS', 'Royal Mail', 'Cognizant Technology Solutions', 'FDM Group', 'BDO', 'CBRE', 'TalkTalk Group', 'Bank of England', 'OMD', 'Gamesys', 'The Telegraph', 'Radisson Hotel Group', 'Revolut']
['44.221 £/año', '33.879 £/año', '31.671 £/año', '46.467 £/año', '26.106 £/año', '33.096 £/año', '38.444 £/año', '40.955 £/año', '23.689 £/año', '41.838 £/año', '39.576 £/año', '27.392 £/año', '34.048 £/año', '35.550 £/año', '29.569 £/año', '57.384 £/año', '26.036 £/año', '24.445 £/año', '55.000 £/año', '47.031 £/año', '34.876 £/año', '36.831 £/año', '17 £/h', '45.844 £/año', '28.392 £/año', '25.070 £/año', '38.000 £/año', '60.558 £/año', '49.788 £/año', '32.067 £/año', '20.071 £/año', '28.637 £/año', '30.765 £/año', '36.558 £/año', '32.089 £/año', '28.400 £/año', '32.483 £/año', '28.026 £/año', '39.472 £/año', '50.000 £/año']

In [132]:
third_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[4]/a')
third_page.click()

In [133]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesldn.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesldn.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesldn.append(salary)

In [134]:
print(job_titlesldn)
print(companiesldn)
print(salariesldn)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst']
['Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays', 'Accenture', 'Marks & Spencer', 'HSBC Holdings', 'HSBC Holdings', 'Capita', 'Vodafone', 'Imperial College London', 'UBS', 'Royal Mail', 'Cognizant Technology Solutions', 'FDM Group', 'BDO', 'CBRE', 'TalkTalk Group', 'Bank of England', 'OMD', 'Gamesys', 'The Telegraph', 'Radisson Hotel Group', 'Revolut', 'uSwitch', 'NHS Improvement', 'Financial Services Compensation Scheme', 'Rocket Fuel', 'The Plum Guide', 'ICX4', 'QuantSpark', 'ETFGI.com', 'NHS', 'Lloyds Banking Group', 'HSBC Holdings', 'J.P. Morgan', 'Royal Bank of Scotland', 'BBC', 'GlaxoSmithKline', 'GlaxoSmithKline', 'GlaxoSmithKline', 'Bloomberg L.P.', 'British Airways', 'Apple']
['44.221 £/año', '33.879 £/año', '31.671 £/año', '46.467 £/año', '26.106 £/año', '33.096 £/año', '38.444 £/año', '40.955 £/año', '23.689 £/año', '41.838 £/año', '39.576 £/año', '27.392 £/año', '34.048 £/año', '35.550 £/año', '29.569 £/año', '57.384 £/año', '26.036 £/año', '24.445 £/año', '55.000 £/año', '47.031 £/año', '34.876 £/año', '36.831 £/año', '17 £/h', '45.844 £/año', '28.392 £/año', '25.070 £/año', '38.000 £/año', '60.558 £/año', '49.788 £/año', '32.067 £/año', '20.071 £/año', '28.637 £/año', '30.765 £/año', '36.558 £/año', '32.089 £/año', '28.400 £/año', '32.483 £/año', '28.026 £/año', '39.472 £/año', '50.000 £/año', '42.496 £/año', '40.576 £/año', '34.175 £/año', '36.725 £/año', '35.097 £/año', '52.464 £/año', '35.623 £/año', '24.044 £/año', '32.651 £/año', '41.408 £/año', '34.728 £/año', '47.694 £/año', '52.118 £/año', '40.274 £/año', '39 £/h', '2.378 £/mes', '43.166 £/año', '10 £/h', '40.000 £/año', '51.272 £/año']

In [135]:
fourth_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[5]/a')
fourth_page.click()

In [136]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesldn.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesldn.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesldn.append(salary)

In [137]:
print(job_titlesldn)
print(companiesldn)
print(salariesldn)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']
['Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays', 'Accenture', 'Marks & Spencer', 'HSBC Holdings', 'HSBC Holdings', 'Capita', 'Vodafone', 'Imperial College London', 'UBS', 'Royal Mail', 'Cognizant Technology Solutions', 'FDM Group', 'BDO', 'CBRE', 'TalkTalk Group', 'Bank of England', 'OMD', 'Gamesys', 'The Telegraph', 'Radisson Hotel Group', 'Revolut', 'uSwitch', 'NHS Improvement', 'Financial Services Compensation Scheme', 'Rocket Fuel', 'The Plum Guide', 'ICX4', 'QuantSpark', 'ETFGI.com', 'NHS', 'Lloyds Banking Group', 'HSBC Holdings', 'J.P. Morgan', 'Royal Bank of Scotland', 'BBC', 'GlaxoSmithKline', 'GlaxoSmithKline', 'GlaxoSmithKline', 'Bloomberg L.P.', 'British Airways', 'Apple', 'Microsoft', 'Thomson Reuters', 'Google', 'British Gas', 'Transport for London', 'Shell', 'IHS Markit', 'Metro Bank', 'Pearson', 'Aon', 'Worldpay', 'dunnhumby', 'Diageo', 'Capital One', 'JLL', 'Legal & General', 'Kantar Worldpanel', 'Mindshare', 'AIG', 'Elsevier']
['44.221 £/año', '33.879 £/año', '31.671 £/año', '46.467 £/año', '26.106 £/año', '33.096 £/año', '38.444 £/año', '40.955 £/año', '23.689 £/año', '41.838 £/año', '39.576 £/año', '27.392 £/año', '34.048 £/año', '35.550 £/año', '29.569 £/año', '57.384 £/año', '26.036 £/año', '24.445 £/año', '55.000 £/año', '47.031 £/año', '34.876 £/año', '36.831 £/año', '17 £/h', '45.844 £/año', '28.392 £/año', '25.070 £/año', '38.000 £/año', '60.558 £/año', '49.788 £/año', '32.067 £/año', '20.071 £/año', '28.637 £/año', '30.765 £/año', '36.558 £/año', '32.089 £/año', '28.400 £/año', '32.483 £/año', '28.026 £/año', '39.472 £/año', '50.000 £/año', '42.496 £/año', '40.576 £/año', '34.175 £/año', '36.725 £/año', '35.097 £/año', '52.464 £/año', '35.623 £/año', '24.044 £/año', '32.651 £/año', '41.408 £/año', '34.728 £/año', '47.694 £/año', '52.118 £/año', '40.274 £/año', '39 £/h', '2.378 £/mes', '43.166 £/año', '10 £/h', '40.000 £/año', '51.272 £/año', '45.061 £/año', '33.806 £/año', '44.054 £/año', '33.917 £/año', '31.583 £/año', '39.793 £/año', '31.240 £/año', '42.518 £/año', '30.083 £/año', '33.683 £/año', '35.687 £/año', '44.096 £/año', '31.521 £/año', '35.774 £/año', '32.257 £/año', '42.751 £/año', '26.602 £/año', '27.414 £/año', '48.604 £/año', '52.386 £/año']

In [142]:
fifith_page = driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[24]/ul/li[5]/a')
fifth_page.click()

WebDriverException: Message: chrome not reachable
  (Session info: chrome=83.0.4103.116)

In [143]:
url5='https://www.glassdoor.es/Sueldos/londres-data-analyst-sueldo-SRCH_IL.0,7_IM1035_KO8,20_IP5.htm'

In [144]:
driver = webdriver.Chrome(r'C:\Users\Usuario\Desktop\Project_scrapper\chromedriver_win32\chromedriver.exe')
driver.get(url)

In [147]:
driver.find_element_by_xpath('//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[1]/div/div[2]/p[3]').text

'44.221 £/año'

In [148]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    #job_titlesldn.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    #companiesldn.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesldn.append(salary)

In [149]:
print(job_titlesldn)
print(companiesldn)
print(salariesldn)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']
['Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays', 'Accenture', 'Marks & Spencer', 'HSBC Holdings', 'HSBC Holdings', 'Capita', 'Vodafone', 'Imperial College London', 'UBS', 'Royal Mail', 'Cognizant Technology Solutions', 'FDM Group', 'BDO', 'CBRE', 'TalkTalk Group', 'Bank of England', 'OMD', 'Gamesys', 'The Telegraph', 'Radisson Hotel Group', 'Revolut', 'uSwitch', 'NHS Improvement', 'Financial Services Compensation Scheme', 'Rocket Fuel', 'The Plum Guide', 'ICX4', 'QuantSpark', 'ETFGI.com', 'NHS', 'Lloyds Banking Group', 'HSBC Holdings', 'J.P. Morgan', 'Royal Bank of Scotland', 'BBC', 'GlaxoSmithKline', 'GlaxoSmithKline', 'GlaxoSmithKline', 'Bloomberg L.P.', 'British Airways', 'Apple', 'Microsoft', 'Thomson Reuters', 'Google', 'British Gas', 'Transport for London', 'Shell', 'IHS Markit', 'Metro Bank', 'Pearson', 'Aon', 'Worldpay', 'dunnhumby', 'Diageo', 'Capital One', 'JLL', 'Legal & General', 'Kantar Worldpanel', 'Mindshare', 'AIG', 'Elsevier', 'Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays']
['44.221 £/año', '33.879 £/año', '31.671 £/año', '46.467 £/año', '26.106 £/año', '33.096 £/año', '38.444 £/año', '40.955 £/año', '23.689 £/año', '41.838 £/año', '39.576 £/año', '27.392 £/año', '34.048 £/año', '35.550 £/año', '29.569 £/año', '57.384 £/año', '26.036 £/año', '24.445 £/año', '55.000 £/año', '47.031 £/año', '34.876 £/año', '36.831 £/año', '17 £/h', '45.844 £/año', '28.392 £/año', '25.070 £/año', '38.000 £/año', '60.558 £/año', '49.788 £/año', '32.067 £/año', '20.071 £/año', '28.637 £/año', '30.765 £/año', '36.558 £/año', '32.089 £/año', '28.400 £/año', '32.483 £/año', '28.026 £/año', '39.472 £/año', '50.000 £/año', '42.496 £/año', '40.576 £/año', '34.175 £/año', '36.725 £/año', '35.097 £/año', '52.464 £/año', '35.623 £/año', '24.044 £/año', '32.651 £/año', '41.408 £/año', '34.728 £/año', '47.694 £/año', '52.118 £/año', '40.274 £/año', '39 £/h', '2.378 £/mes', '43.166 £/año', '10 £/h', '40.000 £/año', '51.272 £/año', '45.061 £/año', '33.806 £/año', '44.054 £/año', '33.917 £/año', '31.583 £/año', '39.793 £/año', '31.240 £/año', '42.518 £/año', '30.083 £/año', '33.683 £/año', '35.687 £/año', '44.096 £/año', '31.521 £/año', '35.774 £/año', '32.257 £/año', '42.751 £/año', '26.602 £/año', '27.414 £/año', '48.604 £/año', '52.386 £/año', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '44.221 £/año', '33.879 £/año', '31.671 £/año', '46.467 £/año', '26.106 £/año', '33.096 £/año', '38.444 £/año', '40.955 £/año', '23.689 £/año', '41.838 £/año', '39.576 £/año', '27.392 £/año', '34.048 £/año', '35.550 £/año', '29.569 £/año', '57.384 £/año', '26.036 £/año', '24.445 £/año', '55.000 £/año', '47.031 £/año']

In [153]:
salariesldn.remove('')

In [154]:
salariesldn

['44.221 £/año',
 '33.879 £/año',
 '31.671 £/año',
 '46.467 £/año',
 '26.106 £/año',
 '33.096 £/año',
 '38.444 £/año',
 '40.955 £/año',
 '23.689 £/año',
 '41.838 £/año',
 '39.576 £/año',
 '27.392 £/año',
 '34.048 £/año',
 '35.550 £/año',
 '29.569 £/año',
 '57.384 £/año',
 '26.036 £/año',
 '24.445 £/año',
 '55.000 £/año',
 '47.031 £/año',
 '34.876 £/año',
 '36.831 £/año',
 '17 £/h',
 '45.844 £/año',
 '28.392 £/año',
 '25.070 £/año',
 '38.000 £/año',
 '60.558 £/año',
 '49.788 £/año',
 '32.067 £/año',
 '20.071 £/año',
 '28.637 £/año',
 '30.765 £/año',
 '36.558 £/año',
 '32.089 £/año',
 '28.400 £/año',
 '32.483 £/año',
 '28.026 £/año',
 '39.472 £/año',
 '50.000 £/año',
 '42.496 £/año',
 '40.576 £/año',
 '34.175 £/año',
 '36.725 £/año',
 '35.097 £/año',
 '52.464 £/año',
 '35.623 £/año',
 '24.044 £/año',
 '32.651 £/año',
 '41.408 £/año',
 '34.728 £/año',
 '47.694 £/año',
 '52.118 £/año',
 '40.274 £/año',
 '39 £/h',
 '2.378 £/mes',
 '43.166 £/año',
 '10 £/h',
 '40.000 £/año',
 '51.272 £/año',
 '45.061 £/año',
 '33.806 £/año',
 '44.054 £/año',
 '33.917 £/año',
 '31.583 £/año',
 '39.793 £/año',
 '31.240 £/año',
 '42.518 £/año',
 '30.083 £/año',
 '33.683 £/año',
 '35.687 £/año',
 '44.096 £/año',
 '31.521 £/año',
 '35.774 £/año',
 '32.257 £/año',
 '42.751 £/año',
 '26.602 £/año',
 '27.414 £/año',
 '48.604 £/año',
 '52.386 £/año',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '44.221 £/año',
 '33.879 £/año',
 '31.671 £/año',
 '46.467 £/año',
 '26.106 £/año',
 '33.096 £/año',
 '38.444 £/año',
 '40.955 £/año',
 '23.689 £/año',
 '41.838 £/año',
 '39.576 £/año',
 '27.392 £/año',
 '34.048 £/año',
 '35.550 £/año',
 '29.569 £/año',
 '57.384 £/año',
 '26.036 £/año',
 '24.445 £/año',
 '55.000 £/año',
 '47.031 £/año']

In [155]:
accept_cookies = driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
accept_cookies.click()

In [156]:
login = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[2]/div/a')
login.click()

In [157]:
username_textbox = driver.find_element_by_xpath('//*[@id="userEmail"]')
password_textbox = driver.find_element_by_xpath('//*[@id="userPassword"]')

In [158]:
username_textbox.send_keys(username)
password_textbox.send_keys(password)

In [159]:
login_button = driver.find_element_by_xpath('//*[@id="HardsellOverlay"]/div/div/div/div/div/div/div/div[3]/form/div[3]/div[1]/button')
login_button.click()

In [160]:
for i in range(4,24):
    job_title = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[1]/a').text
    job_titlesldn.append(job_title)
    company = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[2]').text
    companiesldn.append(company)
    salary = driver.find_element_by_xpath(f'//*[@id="SalariesByCompany"]/div[1]/div[{i}]/div/div[1]/div/div[2]/p[3]').text
    salariesldn.append(salary)

In [166]:
print(job_titlesldn)
print(companiesldn)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst - Proveedor de servicios por mes', 'Data Analyst', 'Data Analyst - Proveedor de servicios por hora', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Proveedor de servicios', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst - Becario', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']
['Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays', 'Accenture', 'Marks & Spencer', 'HSBC Holdings', 'HSBC Holdings', 'Capita', 'Vodafone', 'Imperial College London', 'UBS', 'Royal Mail', 'Cognizant Technology Solutions', 'FDM Group', 'BDO', 'CBRE', 'TalkTalk Group', 'Bank of England', 'OMD', 'Gamesys', 'The Telegraph', 'Radisson Hotel Group', 'Revolut', 'uSwitch', 'NHS Improvement', 'Financial Services Compensation Scheme', 'Rocket Fuel', 'The Plum Guide', 'ICX4', 'QuantSpark', 'ETFGI.com', 'NHS', 'Lloyds Banking Group', 'HSBC Holdings', 'J.P. Morgan', 'Royal Bank of Scotland', 'BBC', 'GlaxoSmithKline', 'GlaxoSmithKline', 'GlaxoSmithKline', 'Bloomberg L.P.', 'British Airways', 'Apple', 'Microsoft', 'Thomson Reuters', 'Google', 'British Gas', 'Transport for London', 'Shell', 'IHS Markit', 'Metro Bank', 'Pearson', 'Aon', 'Worldpay', 'dunnhumby', 'Diageo', 'Capital One', 'JLL', 'Legal & General', 'Kantar Worldpanel', 'Mindshare', 'AIG', 'Elsevier', 'Bloomberg L.P.', "Her Majesty's Revenue & Customs", 'Experian', 'Sport England', 'Kubrick Group', 'PwC', 'KPMG', 'Sky', 'Cision', 'EY', 'BAE Systems Applied Intelligence', 'CACI (UK)', 'Deloitte', 'Ministry of Justice UK', 'Kantar Media', 'Legal and General Investment Management', 'BCD Travel', 'Infectious Media', 'Tesco', 'Barclays', 'Guardian News & Media', 'RM', 'Office for National Statistics', 'University of London', 'TP ICAP', 'PHD Worldwide', 'Sparta Global', 'Aimia', 'Argus Media', 'Notting Hill Genesis', 'NaturalMotion', "Lloyd's", 'Morningstar', 'Morningstar', 'Wilmington plc', 'Vrbo', 'London Metropolitan University', 'Brave Bison', 'Racing Post', 'JATO Dynamics']

In [164]:
salariesldn = ['44.221 £/año', '33.879 £/año', '31.671 £/año', '46.467 £/año', '26.106 £/año', '33.096 £/año', '38.444 £/año', '40.955 £/año', '23.689 £/año', '41.838 £/año', '39.576 £/año', '27.392 £/año', '34.048 £/año', '35.550 £/año', '29.569 £/año', '57.384 £/año', '26.036 £/año', '24.445 £/año', '55.000 £/año', '47.031 £/año', '34.876 £/año', '36.831 £/año', '17 £/h', '45.844 £/año', '28.392 £/año', '25.070 £/año', '38.000 £/año', '60.558 £/año', '49.788 £/año', '32.067 £/año', '20.071 £/año', '28.637 £/año', '30.765 £/año', '36.558 £/año', '32.089 £/año', '28.400 £/año', '32.483 £/año', '28.026 £/año', '39.472 £/año', '50.000 £/año', '42.496 £/año', '40.576 £/año', '34.175 £/año', '36.725 £/año', '35.097 £/año', '52.464 £/año', '35.623 £/año', '24.044 £/año', '32.651 £/año', '41.408 £/año', '34.728 £/año', '47.694 £/año', '52.118 £/año', '40.274 £/año', '39 £/h', '2.378 £/mes', '43.166 £/año', '10 £/h', '40.000 £/año', '51.272 £/año', '45.061 £/año', '33.806 £/año', '44.054 £/año', '33.917 £/año', '31.583 £/año', '39.793 £/año', '31.240 £/año', '42.518 £/año', '30.083 £/año', '33.683 £/año', '35.687 £/año', '44.096 £/año', '31.521 £/año', '35.774 £/año', '32.257 £/año', '42.751 £/año', '26.602 £/año', '27.414 £/año', '48.604 £/año', '52.386 £/año', '41.914 £/año', '30.703 £/año', '23.014 £/año', '29.668 £/año', '26.342 £/año', '24.365 £/año', '25.035 £/año', '38.645 £/año', '47.458 £/año', '31.048 £/año', '36.488 £/año', '54.650 £/año', '15.707 £/año', '30.078 £/año', '23.306 £/año', '47.437 £/año', '28.727 £/año', '47.281 £/año', '30.616 £/año', '32.620 £/año']

In [165]:
print(len(salariesldn))

100