In [1]:
import pandas as pd

In [3]:
path = r'C:\Users\Usuario\Desktop\Project_scrapper\csv'
salaries = pd.read_csv(path+'/'+'CleanSalaryByCity_last.csv')

In [4]:
salaries

,Unnamed: 0,job_title,company,salary,location,salary_mean,Temporality,Annualized
0,0,Data Analyst,Fifty-Five,39.056 €/año,Paris,39,Yearly,39000
1,1,Data Analyst,Criteo,43.140 €/año,Paris,43,Yearly,43000
2,2,Data Analyst,AXA,40.000 €/año,Paris,40,Yearly,40000
3,3,Data Analyst - Becario por mes,Criteo,1.522 €/mes,Paris,2,Monthly,24000
4,4,Data Analyst,Contentsquare,41.182 €/año,Paris,41,Yearly,41000
...,...,...,...,...,...,...,...,...
682,95,Data Analyst,Telefónica,45.269 €/año,Dublin,45,Yearly,45000
683,96,Data Analyst,J.P. Morgan,34.591 €/año,Dublin,35,Yearly,35000
684,97,Data Analyst,The AA,31.595 €/año,Dublin,32,Yearly,32000
685,98,Data Analyst - Por hora,CBRE,15 £/h,Dublin,15,Hourly,27000
686,99,Data Analyst - Proveedor de servicios,BNP Paribas,27.754 €/año,Dublin,28,Yearly,28000

In [13]:
salaries['job_title'][0].split()

['Data', 'Analyst']

In [15]:
new_column =[]
for i in range(len(salaries['job_title'])):
    string = salaries['job_title'][i]
    str_list = string.split(' ')
    if 'Senior' in str_list:
        new_column.append('Senior Position')
    elif 'Junior' in str_list:
        new_column.append('Junior Position')
    elif 'Intern' in str_list:
        new_column.append('Internship')
    elif 'Becario'in str_list:
        new_column.append('Internship')
    elif 'Internship' in str_list:
        new_column.append('Internship')
    else:
        new_column.append('Not determined')
new_column

['Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Senior Position',
 'Senior Position',
 'Internship',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Junior Position',
 'Junior Position',
 'Junior Position',
 'Junior Position',
 'Junior Position',
 'Junior Position',
 'Junior Position',
 'Junior Position',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Not determined',
 'Not determined',
 'Not determined',
 'Senior Position',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Not determined',
 'Not determined',
 'Junior Position',
 'Junior Position',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Junior Position',
 'Junior Position',
 'Junior Position',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Senior Position',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Senior Position',
 'Not determined',
 'Internship',
 'Not determined',
 'Junior Position',
 'Junior Position',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Internship',
 'Not determined',
 'Internship',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined',
 'Not determined']

In [16]:
salaries['Seniority'] =new_column

In [21]:
salaries.columns

Index(['Unnamed: 0', 'job_title', 'company', 'salary', 'location',
       'salary_mean', 'Temporality', 'Annualized', 'Seniority'],
      dtype='object')

In [22]:
salaries.drop('Unnamed: 0', axis =1, inplace=True)

In [23]:
salaries

,job_title,company,salary,location,salary_mean,Temporality,Annualized,Seniority
0,Data Analyst,Fifty-Five,39.056 €/año,Paris,39,Yearly,39000,Not determined
1,Data Analyst,Criteo,43.140 €/año,Paris,43,Yearly,43000,Not determined
2,Data Analyst,AXA,40.000 €/año,Paris,40,Yearly,40000,Not determined
3,Data Analyst - Becario por mes,Criteo,1.522 €/mes,Paris,2,Monthly,24000,Internship
4,Data Analyst,Contentsquare,41.182 €/año,Paris,41,Yearly,41000,Not determined
...,...,...,...,...,...,...,...,...
682,Data Analyst,Telefónica,45.269 €/año,Dublin,45,Yearly,45000,Not determined
683,Data Analyst,J.P. Morgan,34.591 €/año,Dublin,35,Yearly,35000,Not determined
684,Data Analyst,The AA,31.595 €/año,Dublin,32,Yearly,32000,Not determined
685,Data Analyst - Por hora,CBRE,15 £/h,Dublin,15,Hourly,27000,Not determined
686,Data Analyst - Proveedor de servicios,BNP Paribas,27.754 €/año,Dublin,28,Yearly,28000,Not determined

In [24]:
salaries.to_csv('Salaries_finale.csv')